
.header {
  position: sticky;
  top: 0;

  background: rgba(18,18,18,.95);
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;

  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,.4);
}

.header__logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-primary);
}

.header__nav {
  display: flex;
  gap: 1.5rem;
}

.header__nav a {
  color: var(--color-light);
  font-weight: 500;
  transition: var(--transition);
}

.header__nav a:hover {
  color: var(--color-primary);
}
